.row , .col-md-4 {
  padding: 0!important;
  margin: 0!important;
}

.App {
  min-height: 100vh;
  background-color: gainsboro;
}

.products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .product .product-img img {
  height: 12rem;
  width: 100%;
}

.header .billgates-img img {
  border-radius: 50%;
}


